<div id="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to post.title, post_path(post), class: "title" %>
      <span class="time-small">posted on <%= post.created_at.strftime("%A %b %e, %Y at %l:%M %P") %></span>
      <p><%= post.body.first(300) %></p>
      <%= link_to "Read more", post_path(post), class: "read-more" %>
    </div>
  <% end %>
</div>