.post {
  margin: 80px auto;
  width: 75%;
  padding: 40px 0;
  border-bottom: 1px solid #EBE6E6;
  overflow: auto;
}

.post a.title {
  font-weight: 300;
  display: block;
  font-size: 28px;
  color: #000000;
}

.post h1 {
  margin-bottom: 6px;
}

.post a.title:hover {
  text-decoration: none;
}

.post .time-small, .post .time-large {
  color: #aaaaaa;
  font-weight: 300;
}

.post .time-small {
  font-size: 14px;
}

.post .time-large {
  font-size: 18px;
}

.post p {
  padding: 20px 0;
  font-size: 18px;
}

.post a.read-more {
  float: right;
  padding: 20px 100px 20px;
}