.post {
  margin: 40px auto 80px;
  width: 75%;
  padding: 40px 0;
  border-bottom: 1px solid #EBE6E6;
  overflow: auto;
}

.post a.title {
  font-weight: 300;
  display: block;
  font-size: 32px;
  color: #000000;
}

.post h1 {
  margin: 0 0 6px;
}

.post a.title:hover {
  text-decoration: none;
}

.post .time {
  color: #aaaaaa;
  font-weight: 300;
}

.post .time {
  font-size: 16px;
}

.post p {
  padding: 15px 0;
  font-size: 20px;
  line-height: 30px;
}

.post a.read-more {
  float: right;
  padding: 20px 100px 20px;
}

ul.errors {
  list-style: none;
  display: block;
}

li.error {
  padding: 20px;
  background-color: #de5842;
  width: 75%;
  border: 1px solid #c61f04;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}

.form-group input[type="text"], .form-group textarea {
  margin-left: 20px;
  width: 80%;
  padding: 8px;
  border: 1px solid #c61f04;
  font-size: 16px;
  line-height: 25px;
}

.form-group input[type="submit"] {
  float: right;
  margin-right: 20px;
}

.form-group label {
  float: left;
  font-size: 24px;
}

.form-group {
  padding: 20px;
  width: 60%;
}