.post {
  margin: 40px auto 80px;
  width: 75%;
  padding: 40px 0;
  border-bottom: 1px solid #EBE6E6;
  overflow: auto;
}

.post a.title {
  font-weight: 300;
  display: block;
  font-size: 32px;
  color: #000000;
}

.post h1 {
  margin: 0 0 6px;
}

.post a.title:hover {
  text-decoration: none;
}

.post .time {
  color: #aaaaaa;
  font-weight: 300;
}

.post .time {
  font-size: 16px;
}

.post p {
  padding: 15px 0;
  font-size: 20px;
  line-height: 30px;
}

.post a.read-more {
  float: right;
  padding: 20px 100px 20px;
}